$giallo : #F7D400;
$gray : #f7f7f7;
html {
  background-color: #f7f7f7;
}

.bg {
  background-color: $gray;
  height: 100vh;
  width: 100vw;
}

.image{
  img {
    margin: 0;
    width: 100%;
    //height: 20%;
  }
}

.black-line{
  width: 100%;
  height: 3px;
  background-color: #222222;
}