<div class="bg">
  <div class="row align-items-center justify-content-center" style="padding-top:50%">
    <div class="schedule">
      <div class="col w-100 h-100 p-3">
        <div class="col-9 p-0 m-0">
          <div class="row px-3">
            <span class="myfont font-light" style="color: #80808080;"> <i> passenger name:</i></span>
          </div>
          <div class="row px-3">
            <h2 class="myfont font-weight-bold">Elia Ceravolo</h2>
          </div>
        </div>
        <div class="col-3">
          <div class="row px-3">
            <span class="myfont font-light" style="color: #80808080;"> <i> emoticon:</i></span>
          </div>
          <div class="row px-3">
            <h2 class="myfont font-weight-bold">YO</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
