<div class="bg">
  <div class="row m-0" >
    <h4 class="myfont m-0 p-4 d-flex ">
      haveanyfear
    </h4>
    <div class="image px-4 py-2">
      <img src="../../../../assets/me.jpeg" >
    </div>
    <div class="black-line d-flex align-items-center mx-4 my-2"></div>
    <div class="row m-0 p-0">
      <div class="col-6 h-10">
        <h4 class="myfont m-0 p-4 d-flex ">
          profile
        </h4>
      </div>
      <div class="col-6 h-10">
        <div class="row d-flex justify-content-end w-50">
          txttxttxttxttxttxttxttxttxttxttxtt
        </div>
      </div>
    </div>
    
  </div>
</div>
