<ng-container *ngIf="experience">
    
        <div class="row p-0">
            <div class="col-1 p-0 d-flex justify-content-end">
                <div class="rotate-text font-weight-bold my-2"></div>
                <div class="right-border mr-2"></div>
            </div>
            <div class="col-11 p-0 grid d-grid">
                <ng-container *ngFor="let exp of experience">
                    <div class="circle my-1 " *ngFor="let len of exp.lenguages" [ngStyle]="{'background-color': len.color,'width': len.percentage + '%'}">
                        <span class="text-light px-3">{{len.name}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
        
    
</ng-container>

