.circle{
    max-width: 100%;
    border-radius: 50px;
    border: 3px solid black;
    .row{
        display: content;
    }
}

.right-border{
    width: 5px;
    border-radius: 5px;
    height: auto;
    background-color: #1d1d1d;
}

.shadow{
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.685);
}

.grid{
    display: grid;
}
