<div class="bg clickable" (click)="navigateBack()">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="yellow-face">
      <div class="pos-eye d-flex mt-4">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
      <div class="noise-pos mt-2 d-flex justify-content-center">
        <div class=" noise"></div>
      </div>
      <div class="mouth-pos d-flex mt-2 justify-content-center">
        <div class="mouth">
        </div>
      </div>
    </div>
  </div>
</div>
