<div class="bg">
  <!-- <div class="row w-100 h-100 d-flex justify-content-center align-items-center p-0 m-0">
    <div class="border-black">
      <div class="border-green">
        <div class="border-black"></div>
      </div>
    </div>
  </div> -->

  <div class="container-fluid">
    <div class="top">
      <div class="row">
        <div
          class="col-2 left d-flex align-items-center justify-content-center"
        >
          <div class="robotoMono spacing font-weight-bold">404</div>
        </div>
        <div
          class="col-8 center d-flex align-items-center justify-content-center"
        >
          <div class="robotoMono spacing font-weight-bold">404 404 404 404</div>
        </div>
        <div
          class="col-2 right d-flex align-items-center justify-content-center"
        >
          <div class="robotoMono spacing font-weight-bold">404</div>
        </div>
      </div>
    </div>
    <div class="center">
      <div class="row">
        <div class="col-2 left">
          <div class="robotoMono spacing font-weight-bold">
            404 404 404 404 404 404 404 404
          </div>
        </div>
        <div class="col-8">a</div>
        <div class="col-2 right">
          <div class="robotoMono spacing font-weight-bold">
            404 404 404 404 404 404 404 404
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="row">
        <div
          class="col-2 left d-flex align-items-center justify-content-center"
        >
          <div class="robotoMono spacing font-weight-bold">404</div>
        </div>
        <div
          class="col-8 center d-flex align-items-center justify-content-center"
        >
          <div class="robotoMono spacing font-weight-bold">404 404 404 404</div>
        </div>
        <div
          class="col-2 right d-flex align-items-center justify-content-center"
        >
          <div class="robotoMono spacing font-weight-bold">404</div>
        </div>
      </div>
    </div>
  </div>
</div>
