<!--  <div class="bg p-0 m-0 force-mobile">
     
    <div class="row m-0 py-5">
      <div class="col-6">
        <h4 class="myfont noselect">
          ELIA
          <div class="u-2"></div>
        </h4>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <h4 class="myfont-normal noselect">
          ABOUT
          <div class="u"></div>
        </h4>
      </div>
    </div>

    
    <!-- BODY 

    <div class="center row m-0 py-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="row p-0 m-0">
          <h4 class="myfont-normal noselect">
            PROJECTS
            <div class="u"></div>
          </h4>

          <div class="link row py-2 m-0" *ngFor="let link of nLinks; let i = index">
            <h5
              class="text-uppercase myfont-normal no-wrap clickable links noselect  noselect"
              [routerLink]="['/info-project', link.id, link.name]"
              routerLinkActive="router-link-active">
              {{ link.name }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- BOTTOM 
    <div class="bottom row m-0 py5 h-50">
      <div class="col d-flex align-items-center"></div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <div class="row m-0 w-100 justify-content-end p-0">
          <h5
            class="myfont-normal spacing bg-rgba noselect"
            *ngFor="let nameSocial of social"
          >
            {{ nameSocial }}
          </h5>
        </div>
      </div>
    </div>
</div> -->
<!--
<div class="bg p-0 m-0">
  <div class="top">
  <div class="row m-0 py-5 align-items-center">
    <div class="col-1 ">
      <div class="black-circle"></div>
    </div>
    <div class="col-6 ">

      <h4 class="myfont noselect m-0">
        ELIA
        <div class="u-2"></div>
      </h4>
    </div>
    <div class="col-5 d-flex justify-content-end clickable">
      <fa-icon [icon]="faAdjust" class="dim-icon"></fa-icon>
    </div>
  </div>
</div>
  <div class="link row p-2 m-3 m-0" *ngFor="let link of nLinks; let i = index">
    <h5 class="text-uppercase myfont-normal clickable links noselect"
      [routerLink]="['/info-project', link.id, link.name]" routerLinkActive="router-link-active">
      {{ link.name }}
    </h5>
  </div>
  <div class=" d-flex align-items-end svgg">
    <!-- <object data="../../../../assets/Vector 1.svg" type="image/svg+xml" class="svg-img" alt="image nera"></object> -->
<!--</div>

</div> -->


<!-- NEW TEST -->

<div class="background-red container">
  <div class="fixed-top mt-4 mb-5 mx-5 position-fixed px-5 navbar-row">
    <nav class="navbar">
      <div class="icon clickable">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z" />
          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
        </svg>
      </div>
      <a href="https://github.com/twopill" target="_blank" rel="noopener noreferrer" class="icon dim clickable" style="font-size: 1.5rem;color:black">
        
        <fa-icon [icon]="faCodeBranch"></fa-icon>
      </a>
      <div class="icon"><fa-icon [icon]="faAngry" style="font-size: 1.5rem;color:black"></fa-icon></div>
      <div class="icon"><fa-icon [icon]="faAdjust" style="font-size: 1.5rem;color:black"></fa-icon></div>
    </nav>
  </div>
  
    
    
  <!-- <div data-aos="fade-down" data-aos-duration="1000" class="header-first-page row p-0 m-0">
    <span class="title myfont font-weight-bold d-flex justify-content-center align-items-center m-5 noselect">
      welcome to my site
    </span>
  </div> -->
  <div class="header-first">
    <div class="row p-5" data-aos="fade-right" data-aos-duration="1000">
      <h3 class="myfont">welcome to my site! ✌</h3>
    </div>
  </div>
  <div data-aos="fade-down" data-aos-duration="1000"
    class="header-second-page d-flex justify-content-center align-items-center">
    <div class="container-fluid m-0 p-0 ">
      <div class="row m-0 justify-content-center"><span class="py-2 myfont title font-weight-bold noselect">
          insert your name
        </span></div>
      <div class="row m-0 justify-content-center">
        <div class="input-text">
          <input [(ngModel)]="name" name="name" id="name" type="text" maxlength="15">
        </div>
      </div>
      <div class="row m-0 justify-content-center py-3">
        <div class="btn-send clickable d-flex align-items-center justify-content-center font-weight-bold">
          <a class="text-send myfont noselect" (click)="sendName()" tabindex="0" accesskey="enter" href="#presentation">
            send
          </a>

        </div>
      </div>
    </div>
  </div>
  <div data-aos="fade-up" data-aos-duration="1000" class="header-third-page m-5">
    <div class="title myfont font-weight-bold px-5 pt-5 noselect" id="presentation">
      Hi <span class="bg-warning">{{name}}<span *ngIf="name!=null">,</span></span>
    </div>
    <div class="title myfont font-weight-bold px-5 pt-2 pb-5 noselect">
      I decided to create this site to test my ability.
      My name is <span class="bg-warning">elia</span> and i'm a frontend developer, based in italy
    </div>
  </div>
  <div class="header-fourth-page ">
    <app-cake [experience]='experience'></app-cake>
  </div>

</div>
