$giallo: #f7d400;

.bg {
  background-color: $giallo;
  width: 100%;
  max-height: 100vh;
  height: 100vh;
}



.myfont-normal {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 3px;

  .u-2 {
    height: 1px;
    width: 30%;
    background-color: black;
  }
}


.u {
  height: 1px;
  width: 100%;
  background-color: black;
}

.link{
  border-radius: 7px;
  background-color: #000000;
  color: $giallo;
  width: fit-content;
  animation: 1.5s forwards  slideIn;
  h5{
    display: contents;
    font-weight: 600;
  }
}

@keyframes slideIn{
  0%{
    transform: translateX(-210px);
  }
  50%{
    transform: translateX(5px);
  }
  100%{
    transform: translateX(0);
  }
}

.link:hover {
  animation: 0.2s forwards fadeOpacityIn;
}

.link:active {
  animation: 0.2s forwards fadeOpacityIn;
}

.bottom {
}

@keyframes fadeOpacityIn {
  0% {
  }

  100% {
    background-color: white;
    //color: greenyellow;
  }
}

@media screen and (min-width: 700px) and (max-width: 10920px) {
  .bg {
    background-color: #f7d400;
  }

  .force-mobile {
    position: absolute;
    width: 45%;
    left: 28%;
  }
}

.black-circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  
}

.dim-icon{
  font-size: 25px;
}

.svgg{
  height: 62%;
}

.svg-img{
  
  width: 100%;
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
.svgg{
  height: 62%;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.svgg{
  height: 62%;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.svgg{
  height: 62%;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
.svgg{
  height: 62%;
}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  .svgg{
    height: 53%;
  }
  .top{
    
  }
/* Styles */
}