<div class="black">
<div class="bg  p-0 m-0 force-mobile">
  <!-- HEADER -->
    <div class="row m-0 py-5 ">
    <div class="col-6 ">
      <h5 class="myfont-normal noselect">ELIA
        <div class="u-2"></div>
      </h5>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <h5 class="myfont-normal noselect">ABOUT
        <div class="u"></div>
      </h5>
    </div>
  </div>

  <!-- BODY -->

<div class="row m-0 py-3 ">
    <div class="col-6 d-flex justify-content-center">
        <div class="row p-0 m-0">
            <h5 class="myfont-normal noselect">PROJECTS
            <div class="u"></div>
          </h5>
        
          <div class="row py-2 m-0" *ngFor="let link of links">
            <h5 class="text-uppercase myfont-normal no-wrap clickable links noselect">{{link}}
          </h5>
        </div>


        </div>
        
      <!-- <h5 class="myfont-normal">RASPBERRY VPN</h5> -->
    </div>
    
    

</div>
</div>