$deepBlue: #012535;
$acqua: #BAE2DA;

.bg {
  background-color: $deepBlue;

  .space-image {
    right: 0;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

    .img {
      height: 100%;
    }

  }

  .first-page {
    height: 100vh;

    .polygonAcqua {
      background-color: $acqua;
      clip-path: polygon(0 0, 79% 0, 35% 100%, 0 100%);
      width: 100%;
      height: 100vh;
    }

    .navbar-up {
      z-index: 1;

      .title {
        font-size: 20pt;
        opacity: 0;
      }

      .about-and-project {
        opacity: 0;
        font-weight: 400;
        font-size: 20pt;

        a {
          color: $deepBlue;
          text-decoration: none;
        }
      }

      .contacts {
        font-weight: 400;
        font-size: 20pt;
        color: $acqua;
        padding-left: 13rem;
      }
    }

    .navbar {

      .title {
        font-size: 20pt;
        color: $deepBlue;
      }

      .about-and-project {
        font-weight: 400;
        font-size: 20pt;
        color: $deepBlue;

        a {
          color: $deepBlue;
          text-decoration: none;
        }
      }

      .contacts {
        font-weight: 400;
        font-size: 20pt;
      }
    }



  }

  .hi-name {
    padding-top: 5rem;

    .pl-3-1 {
      padding-left: 2rem;
    }

    .title {
      font-size: 45pt;
      color: $deepBlue;
    }

    .subtitle {
      margin-left: 0;
      margin-right: 0;
      padding-top: 2rem;
    }

    .sub-subtitle {
      margin-left: 0;
      margin-right: 0;

      .title {
        font-size: 55pt;
        font-weight: 900;
        color: $deepBlue;
        text-shadow: 5px 4px 0px #EC9192;
        transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
          text-shadow: 9px 4px 0px #EC9192;
        }
      }
    }
  }

  .pl-3-1 {
    padding-left: 2rem;
  }

  .button-read-me {

    width: 12rem;
    height: 4rem;
    border-radius: 118px;
    background: #EC9192;
    box-shadow: 5px 4px 0px #012535;

    a {
      color: $deepBlue;
      text-decoration: none;
    }

    .text {
      font-size: 29px;
      color: $deepBlue
    }

  }

  .second-page {
    height: 100vh;

    .title-page {
      font-size: 45px;
      color: $acqua;
    }

    .button-np-mode {
      width: 12rem;
      height: 4rem;
      //border-radius: 118px;
      border: 5px solid #EC9192;
      box-sizing: border-box;
      border-radius: 49px;
      color: #EC9192;
      font-size: 24px;
    }

  }


  .third-page {
    height: 100vh;
  }

}

.h-65{
  height: 65%;
}
