<!-- <!-- <div class="bg p-0 m-0 force-mobile">
    <!-- HEADER 
    <div class="row m-0 py-5">
      <div class="col-6">
        <h4 class="myfont noselect">
          ELIA
          <div class="u-2"></div>
        </h4>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <h4 class="myfont-normal noselect">
          ABOUT
          <div class="u"></div>
        </h4>
      </div>
    </div>

    <!-- BODY 

    <div class="center row m-0 py-3">
      <div class="col-6 d-flex justify-content-center">
        <div class="row p-0 m-0">
          <h4 class="myfont-normal noselect">
            PROJECTS
            <div class="u"></div>
          </h4>

          <div class="link row py-2 m-0" *ngFor="let link of nLinks; let i = index">
            <h5
              class="text-uppercase myfont-normal no-wrap clickable links noselect  noselect"
              [routerLink]="['/info-project', link.id, link.name]"
              routerLinkActive="router-link-active">
              {{ link.name }}
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- BOTTOM 
    <div class="bottom row m-0 py5 h-50">
      <div class="col d-flex align-items-center"></div>
      <div class="col-6 d-flex align-items-end justify-content-end">
        <div class="row m-0 w-100 justify-content-end p-0">
          <h5
            class="myfont-normal spacing bg-rgba noselect"
            *ngFor="let nameSocial of social"
          >
            {{ nameSocial }}
          </h5>
        </div>
      </div>
    </div>
</div> -->
<!--
<div class="bg p-0 m-0">
  <div class="top">
  <div class="row m-0 py-5 align-items-center">
    <div class="col-1 ">
      <div class="black-circle"></div>
    </div>
    <div class="col-6 ">

      <h4 class="myfont noselect m-0">
        ELIA
        <div class="u-2"></div>
      </h4>
    </div>
    <div class="col-5 d-flex justify-content-end clickable">
      <fa-icon [icon]="faAdjust" class="dim-icon"></fa-icon>
    </div>
  </div>
</div>
  <div class="link row p-2 m-3 m-0" *ngFor="let link of nLinks; let i = index">
    <h5 class="text-uppercase myfont-normal clickable links noselect"
      [routerLink]="['/info-project', link.id, link.name]" routerLinkActive="router-link-active">
      {{ link.name }}
    </h5>
  </div>
  <div class=" d-flex align-items-end svgg">
    <!-- <object data="../../../../assets/Vector 1.svg" type="image/svg+xml" class="svg-img" alt="image nera"></object> -->
<!--</div>

</div> -->


<!-- NEW TEST -->

<div class="background-red">
  <div class="header-first-page">
    <span class="title myfont font-weight-bold d-flex justify-content-center align-items-center p-5">
      hello this is my site
    </span>
  </div>
  <div class="header-second-page d-flex justify-content-center align-items-center">
    <div class="container-fluid m-0 p-0 ">
      <div class="row m-0 justify-content-center"><span class="py-2 myfont title font-weight-bold">
          insert your name
        </span></div>
      <div class="row m-0 justify-content-center">
        <div class="input-text">
          <input [(ngModel)]="user.age" name="name" id="name" type="text"/>
        </div>
      </div>
      <div class="row m-0 justify-content-center py-3">
        <div class="btn-send clickable d-flex align-items-center justify-content-center font-weight-bold"
          
        >
          <span class="text-send myfont">
            send
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="header-third-page">
    <div class="title myfont font-weight-bold p-5">
      hi {{user.name}}
    </div>
  </div>
  <div class="header-fourth-page"></div>

</div>