$deepBlue: #012535;
$acqua: #BAE2DA;

.bg{
  background-color: $deepBlue;

  .space-image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    .img{
      height: 100%;
    }
    
  }

  .first-page{
    height: 100vh;
    .polygonAcqua{
      background-color: $acqua;
      clip-path: polygon(0 0, 79% 0, 35% 100%, 0 100%);
      width: 100%;
      height: 100vh;
    }

    .navbar-up{
      z-index: 1;
      .title{
        font-size: 30pt;
        opacity: 0;
      }
      .about-and-project{
        opacity: 0;
        font-weight: 400;
        font-size: 30pt;
      }
      .contacts{
        font-weight: 400;
        font-size: 30pt;
        color:$acqua;
        padding-left: 13rem;
      }
    }

    .navbar{
      .title{
        font-size: 30pt;
        color: $deepBlue;
      }
      .about-and-project{
        font-weight: 400;
        font-size: 30pt;
        color: $deepBlue;
      }
      .contacts{
        font-weight: 400;
        font-size: 30pt;
      }
    }



  }

  .hi-name{
    .title{
      font-size: 64pt;
      color: $deepBlue;
    }
    .subtitle{
      margin-left: 0;
      margin-right: 0;
      margin-top: 6rem;
    }
    .sub-subtitle{
      margin-left: 0;
      margin-right: 0;
      .title{
        font-size: 64pt;
        font-weight: 900;
        color: $deepBlue;
        text-shadow: 5px 4px 0px #EC9192;
      }
    }
  }

  .button-read-me{
    width: 264px;
    height: 68px;
    border-radius: 118px;
    background: #EC9192;
    box-shadow: 5px 4px 0px #012535;

    .text{
      font-size: 33px;
      color: $deepBlue
    }

  }

  .second-page{
   height: 100vh; 

   .title-page{
    font-size: 80px;
    color:$acqua;
   }

   .button-np-mode{
    width: 264px;
    height: 68px;
    border: 5px solid #EC9192;
    box-sizing: border-box;
    border-radius: 49px;
    color: #EC9192;
    font-size: 33px;
   }

  }

  }
