html{
    background-color: white;
}

.bg{
    background-color: #F7D400;
    height: 100vh;
    width: 100vw;
}

.up{
    .white-bg{
        background-color: white;
        height: 40vh;
    }
    .white-rect{
        background-color: white;
        border: 25px solid white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .black-rectangle{
        display: flex;
        border: 15px solid black;
        height: 100%;
        width: 100%;
    }
    .myfont{
        font-size: 2rem;
        position: absolute;
    }
    img{
        position: relative;
        width: 50%;
        height: 50%;
        margin-top: 30%;
        animation: 10s infinite loopImgRasp
    }
}

@keyframes loopImgRasp{
    0%{
        transform: rotate3d(1, 1, 1, 25deg);
    }
    50%{
        transform: rotate3d(1, 1, 1, -25deg);
    }
    100%{
        transform: rotate3d(1, 1, 1, 25deg);
    }
}

.btn-bella-man{
    background-color: black;
    color: #F7D400;
    width: 150px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-bella-man:hover{
    animation: 2s ciaoCiao forwards;
}

@keyframes ciaoCiao{
    0%{

    }
    100%{
        opacity: 0;
    }
}