<div class="up">
    <div class="white-bg">
        <div class="white-rect">
        <div class="black-rectangle py-2 px-2 d-flex justify-content-center">
            <h4 class="myfont text-uppercase spacing">{{title}}</h4>
            <img src="../../../../assets/pi.png" alt="" srcset="" >

        </div>
    </div>
    </div>
</div>

<div class="bg">
    
    <h1 style="color:black">{{text}}</h1>
    <!--<div class="row d-flex justify-content-center p-5">
         <div class="btn-bella-man" (click)="show=!show">
            click
        </div> -->
        <!-- <ng-container *ngIf="show">
        
        <div class="d-flex justify-content-center" style="color:black" *ngFor="let item of cazz" >
            {{item}}
        </div>
    </ng-container> 
    </div>-->
    

</div>