<div class="bg">
  <div class="up">
    <div class="white-bg">
      <div class="white-rect">
        <div class="black-rectangle py-2 px-2 d-flex justify-content-center">
          <h4 class="myfont text-uppercase spacing evidenziatore">
            {{ title }}
          </h4>
          <img [src]=img alt="" srcset="" class="img-test">
        </div>
      </div>
    </div>
  </div>

  <div class="down p-4">
    <div class="row m-0 p-0">
      <nav class="breadcrumb" style="background-color: white;">
        <h2>You are here:</h2>
        <ul id="navlist">
          <li (click)="navigateBack()"><a href="/">home</a> →</li>
          <li (click)="navigateBack()"><a href="/products/">project</a> →</li>
          <li><a>{{ title }}</a></li>
        </ul>
      </nav>
      <h1 class="txt robotoMono txt-title">status:</h1>
      <h1 class="txt robotoMono px-3 txt-desc">in progress</h1>
    </div>
    <div class="row m-0 p-0">
      <h1 class="txt robotoMono txt-title">work:</h1>
      <h1 class="txt robotoMono txt-desc work p-2">{{ textFirst }}</h1>
    </div>
  </div>
  <div class="external-down p-4">
    <img src="../../../../assets/16rasp.jpg" />
  </div>

  <div class="row m-0 down p-4" *ngIf="!show">
    <h1 class="txt robotoMOno txt-desc work p-2">
      {{ textSecond }}
    </h1>
  </div>

  <div class="external-down p-4">
    <img src="../../../../assets/16rasp.jpg" />
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="row m-0 p-0 down p-4">
          <h1 class="txt robotoMono txt-desc work p-2" style="
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            ">
            testo 1
          </h1>
        </div>
      </div>
      <div class="flip-card-back">
        <div class="row m-0 p-0 down p-4">
          <h1 class="txt robotoMono txt-desc work p-2" style="
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            ">
            testo 2
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
